{{>shared/maintenance_layout/header}}
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://unpkg.com/moment"></script>
<script src="../public/chartjs/Chart.min.js"></script>

<style>
    /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, .8) url('../../public/assets/images/ajax-loader-blue.gif') 50% 50% no-repeat;
    }

    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading .modal {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal {
        display: block;
    }
</style>

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-portfolio icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>{{quadro_manutecao.id}} - {{quadro_manutecao.nome}}</div>
            </div>
        </div>
    </div>
    <div id='div_projetos'>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        GRÁFICO DE ACOMPANHAMENTO
                    </div>
                    <div class="table-responsive" style="height: 50%;">
                        <br />
                        <div class='col'>

                            <div class='row'>
                                <div class='col' style="font-weight: bold;">
                                    Data Inicio:
                                </div>
                                <div class='col'>
                                    <span id='dataInicio'>--/--/--</span>
                                </div>
                                <div class='col' style="font-weight: bold;">
                                    Valor médio horas dia:
                                </div>
                                <div class='col'>
                                    <span id='mediaExecutadoDiaSprint'>--,--</span>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col' style="font-weight: bold;">
                                    Data Fim Ritmo Estimado:
                                </div>
                                <div class='col'>
                                    <span id='dataFimRitmoEstimado'>--/--/--</span>
                                </div>
                                <div class='col' style="font-weight: bold;">
                                    Data Fim Tendencia:
                                </div>
                                <div class='col'>
                                    <span id='dataFimTendencia'>--/--/--</span>
                                </div>
                            </div>

                            <br />
                            <div id="chartContainer" class='container' style="width: 90%; height: 50%;">
                                <img src="../../public/assets/images/ajax-loader-blue.gif" />
                            </div>
                        </div>
                    </div>
                    <div class="d-block text-center card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal">

</div>

<script type="text/javascript">
    var $chart;

    let status = '{{ projeto.status.nome }}'
    let id_projeto = parseInt('{{ projeto.id }}')

    $body = $("body");

    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

    $(document).ready(function () {

        // montarGraficoProjeto()

        // if (status == 'ativo') {
        //     $('#btn-entregar').removeClass('mb-2 mr-2 btn btn-secondary')
        //     $('#btn-entregar').addClass('mb-2 mr-2 btn btn-success')
        //     $('#btn-entregar').prop('disabled', false);
        //     $('#btn-entregar').click(confirmarEntregaProjeto)

        // }
        // else if (status == 'entregue') {

        // }
    });


    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    function converterData(strData) {
        return moment(strData, 'YYYY-MM-DD')
    }

    function montarConfigGrafico(dados) {
        var tempoTotalEstimado = dados.meta
        var tempoExecutado = dados.executado
        var tendencia = dados.tendencia

        var cfg = {

            data: {
                datasets: [
                    // {
                    //     label: 'Fim Ritmo',
                    //     backgroundColor: 'lightblue',
                    //     borderColor: 'lightblue',
                    //     data: [{ t: dados.dataFimRitmo, y: 0 }],
                    //     type: 'line',
                    //     fill: false,
                    //     lineTension: 0,
                    //     borderWidth: 2,
                    //     backgroundColor: '#0000DD50',
                    //     borderColor: 'lighblue',
                    //     pointStyle: 'rectRot',
                    //     pointRadius: 10,
                    //     pointHoverRadius: 10,
                    //     pointBorderColor: 'rgb(0, 0, 0)',
                    //     showL<div class="modal"><!-- Place at bottom of page --></div>ine: false
                    // },
                    {
                        label: 'Restante',
                        backgroundColor: 'red',
                        borderColor: 'red',
                        data: dados.restante,
                        type: 'line',
                        fill: false,
                        lineTension: 0,
                    },
                    {
                        label: 'Executado',
                        backgroundColor: 'blue',
                        borderColor: 'blue',
                        data: dados.executado,
                        type: 'line',
                        fill: false,
                        lineTension: 0,
                    },
                    {
                        label: 'Tendência',
                        backgroundColor: 'lightgreen',
                        borderColor: 'lightgreen',
                        data: dados.tendencia,
                        type: 'line',
                        fill: false,
                        lineTension: 0,
                    },
                    {
                        label: 'Ritmo Esperado',
                        backgroundColor: 'lightblue',
                        borderColor: 'lightblue',
                        data: dados.ritmo,
                        type: 'line',
                        fill: false,
                        lineTension: 0,
                    },
                    {
                        label: 'Total Estimado',
                        backgroundColor: 'yellow',
                        borderColor: 'yellow',
                        data: dados.meta,
                        type: 'line',
                        fill: false,
                        lineTension: 0,
                    },
                    {
                        label: 'Ontem',
                        backgroundColor: 'orange',
                        borderColor: 'orange',
                        data: dados.linhaOntem,
                        type: 'line',
                        fill: false,
                        lineTension: 0,
                        borderWidth: 2,
                        pointRadius: 0,
                    },
                ],
            },
            options: {
                scales: {
                    xAxes: [{
                        type: "time",
                        time: {
                            displayFormats: {
                                day: 'DD/MM'
                            },
                            tooltipFormat: 'DD/MM/YYYY',
                            unit: 'day',
                            stepSize: 1,
                            minUnit: 'day'
                        },
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Dia Sprint'
                        },

                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Horas Sprint'
                        },
                        gridLines: {
                            zeroLineWidth: 2,
                        },
                    }]
                },
                tooltips: {
                    mode: 'index',
                    intersect: true
                    // callbacks: {
                    //     label: function (tooltipItem, myData) {
                    //         var label = myData.datasets[tooltipItem.datasetIndex].label || '';
                    //         if (label) {
                    //             label += ': ';
                    //         }
                    //         label += parseFloat(tooltipItem.value).toFixed(2);
                    //         return label;
                    //     }
                    // }
                },
            }
        };

        return cfg
    }

    function calcularPorcentagemProgressoProjeto(data) {
        if (data && data.tempoEsforcoTotalEstimado && data.totalJaExecutadoSprint) {

            var percentualFeito = data.tempoEsforcoTotalEstimado > 0 && data.totalJaExecutadoSprint > 0
                ? Math.round((100 * data.totalJaExecutadoSprint) / data.tempoEsforcoTotalEstimado)
                : 0

            console.warn('percentual:', percentualFeito)
            $('#progresso-projeto').empty();
            $('#progresso-projeto').html(`
                <div class="progress-bar" role="progressbar" aria-valuenow="${percentualFeito}" aria-valuemin="0" 
                aria-valuemax="100" style="width: ${percentualFeito}%;">
                    ${percentualFeito}%
                </div>
            `)
        }
    }

    function montarDatasProjeto(data) {
        if (data) {
            $('#dataInicio').html(moment(data.dataInicioSprint).format('DD/MM/YYYY'))
            $('#dataFim').html(moment(data.dataFimSprint).format('DD/MM/YYYY'))
            $('#dataFimRitmoEstimado').html(moment(data.dataFimRitmo).format('DD/MM/YYYY'))
            $('#dataFimTendencia').html(moment(data.dataFimTendencia).format('DD/MM/YYYY'))
        }
    }

    function montarInfoProjeto(data) {
        if (data) {
            $('#mediaExecutadoDiaSprint').html(data.mediaExecutadoDiaSprint)
        }
    }

    function montarGraficoProjeto() {

        if (id_projeto) {
            let url = "/dados_grafico_projeto/" + id_projeto
            $.get(url, carregarDadosGrafico)
        }
    }

    function carregarDadosGrafico(data) {

        console.warn('dados grafico', data)

        calcularPorcentagemProgressoProjeto(data)

        montarDatasProjeto(data)

        montarInfoProjeto(data)

        $('#chartContainer').empty();

        $('#chartContainer').html('<canvas id="canvas" width="90%" height="50%"></canvas>'); // then load chart.

        var ctx = document.getElementById('canvas').getContext('2d');

        if (typeof $chart !== "undefined") {
            $chart.destroy();
        }

        $chart = new Chart(ctx, montarConfigGrafico(data));
        $chart.update()

    }
    function confirmarEntregaProjeto() {
        let confirmou = confirm("Deseja realmente entregar esse Projeto?\nEssa ação não pode ser desfeita!")

        if (confirmou) {
            entregarProjeto()
        }
    }

    function entregarProjeto() {

        if (id_projeto) {

            $('#div_projetos').append(htmlForLoading())

            let url = "/projeto/" + id_projeto

            $.ajax({
                type: 'PUT',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify({ status: 'entregue' }),
            }).done(function () {
                alert('Projeto entrege!')
            }).fail(function (msg) {
                alert('Falha ao entregar o projeto!')
            }).always(function (msg) {
                location.reload();
            });
        }
    }

    function htmlForLoading() {
        return `
            <div
                style="widows: 100%; align-items: center; align-self: center; flex: 1; position: absolute;">
                <img src="../../public/assets/images/ajax-loader-blue.gif" />
            </div>
        `
    }


</script>



{{>shared/maintenance_layout/footer}}