{{>shared/project_layout/header}}
<!-- 
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> -->


<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-portfolio icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>{{projeto.id}} - {{projeto.prefixo}} - {{projeto.nome}}

                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Clique para criar um novo projeto"
                    data-placement="bottom" aria-haspopup="true" aria-expanded="false"
                    class="btn-shadow mr-3 btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <i class="fa fa-document"></i>

                    <span class="btn-icon-wrapper pr-2 ">
                        <i class="fa fa-plus "></i>
                    </span>
                    Novo
                </button>
                <!-- <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->
            </div>
        </div>
    </div>
    <div id='div_projetos'>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">PROJETOS
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                <button class="active btn btn-focus">Last Week</button>
                                <button class="btn btn-focus">All Month</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#ID</th>
                                    <th>Nome</th>
                                    <th class="text-center">Quadro Trello</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#projetos}}
                                <tr>
                                    <td class="text-center text-muted">#{{id}}</td>
                                    <td>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left mr-3">
                                                    <div class="widget-content-left">
                                                        <img width="40" class="rounded-circle"
                                                            src="assets/images/avatars/4.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="widget-content-left flex2">
                                                    <div class="widget-heading">{{nome}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a target="_blank" rel="noopener noreferrer"
                                            href='https://trello.com/b/{{idBoard}}'>
                                            <i class="fa fa-trello pr-2" aria-hidden="true"></i>
                                            Ir para Trello
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <div class="badge badge-{{status.classeEstilo}}">{{status.nome}}</div>
                                    </td>
                                    <td class="text-center">
                                        <a target="_blank" href='/grafico?id_projeto={{id}}'>
                                            <i class="pe-7s-graph1 pr-2 "></i>Gráfico</a>

                                    </td>
                                </tr>
                                {{/projetos}}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-block text-center card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{>shared/project_layout/footer}}