{{>shared/project_layout/header}}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-portfolio icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>{{projeto.id}} - {{projeto.prefixo}} - {{projeto.nome}}</div>
            </div>
        </div>
    </div>
    <div id='div_projetos'>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                        crossorigin="anonymous"></script>


                    <script type="text/javascript" charset="utf8"
                        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
                    <script src="https://unpkg.com/moment"></script>
                    <script src="../public/chartjs/Chart.min.js"></script>

                    <div class="card-header">FUNCIONALIDADES</div>
                    <div class="table-responsive">
                        <div class='col'>
                            <div class='row'>
                                <div class='col'>
                                    Data Inicio:
                                </div>
                                <div class='col'>
                                    <span id='dataInicio'>--/--/--</span>
                                </div>
                                <div class='col'>
                                    Valor médio horas dia:
                                </div>
                                <div class='col'>
                                    <span id='mediaExecutadoDiaSprint'>--,--</span>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col'>
                                    Data Fim Ritmo Estimado:
                                </div>
                                <div class='col'>
                                    <span id='dataFimRitmoEstimado'>--/--/--</span>
                                </div>
                                <div class='col'>
                                    Data Fim Tendencia:
                                </div>
                                <div class='col'>
                                    <span id='dataFimTendencia'>--/--/--</span>
                                </div>
                            </div>

                            <br />
                            <div id="chartContainer" class='container'>
                                
                            </div>
                        </div>
                    </div>
                    <div class="d-block text-center card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{>shared/project_layout/footer}}