{{>shared/project_layout/header}}

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-portfolio icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>{{projeto.id}} - {{projeto.prefixo}} - {{projeto.nome}}</div>
            </div>
        </div>
    </div>
    <div id='div_projetos'>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">

                    <div class="card-header">
                        <h5 class="card-title">FUNCIONALIDADES</h5>
                    </div>
                    <div class="card-body">
                        <form class="">
                            <div class="position-relative form-group"><label for="exampleAddress"
                                    class="">Descrição</label><input name="descricao" id="descricao"
                                    placeholder="Ex.: Fazer Login" type="text" class="form-control"></div>
                            <button type="button" data-toggle="collapse" href="#collapseExample123"
                                class="btn-shadow mr-3 btn btn-info">
                                <span class="btn-icon-wrapper pr-2 ">
                                    <i class="fa fa-plus"></i>
                                </span>
                                Adicionar
                            </button>
                        </form>
                        <br/>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="mb-0 table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Descrição</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Fazer Login</td>
                                            <td>
                                                <a href="#">
                                                    Excluir
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Recuperar senha</td>
                                            <td>
                                                <a href="#">
                                                    Excluir
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Visualziar produtos promocionados</td>
                                            <td>
                                                <a href="#">
                                                    Excluir
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Dar 'Eu Quero' nos produtos promocionados</td>
                                            <td>
                                                <a href="#">
                                                    Excluir
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="d-block text-center card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{>shared/project_layout/footer}}