{{>shared/project_layout/header}}

<link rel="stylesheet" type="text/css" href="../../public/selectizejs/css/selectize.css" />

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-portfolio icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Criação de novo projeto</div>
            </div>
        </div>
    </div>
    <div id='div_projetos'>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <form class="" method="POST" action="/projeto/new">
                            <h5 class="card-title">Dados do projeto</h5>
                            <div class="form-row">
                                <div class="col-md-2">
                                    <div class="position-relative form-group">
                                        <label for="prefixo" class="">Prefixo</label>
                                        <input name="prefixo" id="prefixo" placeholder="Ex.: LCA"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="position-relative form-group">
                                        <label for="nome" class="">Nome</label>
                                        <input name="nome" id="nome" placeholder="Ex.: Lista de Compras no App"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="position-relative form-group">
                                        <label for="dataInicioSprint" class="">Data Início</label>
                                        <input name="dataInicioSprint" id="dataInicioSprint" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                            <h5 class="card-title">Dados do quadro no trello</h5>

                            <div class="form-row">
                                <div class="col-md-8">
                                    <div class="position-relative form-group">
                                        <label for="idBoard" class="">Código do quadro do Trello -
                                            (https://trello.com/b/<span
                                                style="color: magenta">ctc37b0n</span>/mateus-app)</label>
                                        <input name="idBoard" id="idBoard" placeholder="Ex.: ctc37b0n"
                                            type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <br />

                            <br />
                            <h5 class="card-title">Listas do Trello</h5>
                            <!-- <div class="position-relative row form-group">
                                <div for="txtBacklog" class="col-sm-2 col-form-label">
                                    <strong>Tipo</strong>
                                </div>
                                <div class="col-sm-4">
                                    <strong>Título</strong>
                                </div>
                                <div class="col-sm-1">
                                    <strong>Porcentagem Exec.</strong>
                                </div>
                            </div> -->
                            <button id="btnNovaListaExecucao" type="button">Add Lista</button>
                            <br />
                            <br />
                            <div id="listasExecucao">

                            </div>

                            <br />

                            <br />
                            <h5 class="card-title">Equipe </h5>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <!-- {{#membros}}
                                    <p value="{{username}}">{{nome}}</p>
                                    {{/membros}} -->
                                    <select id="selMembros" placeholder="Nome do Membro">
                                        {{#membros}}
                                        <option value="{{id}}">{{nome}}</option>
                                        {{/membros}}
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button id="btnNovoMembro" type="button">Add Membro</button>
                                </div>
                            </div>
                            <br />
                            <br />
                            <datalist id="tickmarks">
                                <option value="5"></option>
                                <option value="10" label="10%"></option>
                                <option value="15"></option>
                                <option value="20"></option>
                                <option value="25"></option>
                                <option value="30"></option>
                                <option value="35"></option>
                                <option value="40"></option>
                                <option value="45"></option>
                                <option value="50" label="50%"></option>
                                <option value="55"></option>
                                <option value="60"></option>
                                <option value="65"></option>
                                <option value="70"></option>
                                <option value="75"></option>
                                <option value="80"></option>
                                <option value="85"></option>
                                <option value="90"></option>
                                <option value="95"></option>
                                <option value="100" label="100%"></option>
                            </datalist>
                            <div id="listaMembros">


                            </div>
                            <br />
                            <br />
                            <button type="submit" id="btnNovoProjeto" type="button"
                                class="btn-shadow mr-3 btn btn-info float-right">
                                <i class="fa fa-document"></i>

                                <span class="btn-icon-wrapper pr-2 ">
                                    <i class="fa fa-save "></i>
                                </span>
                                Salvar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../public/assets/scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../public/selectizejs/js/standalone/selectize.min.js"></script>
<script type="text/javascript">

    var salvou = '{{sucess}}'
    const limiteListas = 6
    let lastListId = 0
    let membros = []
    let listas = []

    $('document').ready(function () {
        $('#btnNovaListaExecucao').click(addFormListaExecucao)
        $('#btnNovoMembro').click(addFormMembro)
        $('#selMembros').selectize()
        addFormListaExecucao('Backlog', '0.0')
        addFormListaExecucao('Planejado', '0.0')
        addFormListaExecucao('Fazendo', '0.0')
        addFormListaExecucao('Homologando', '1.0')
        addFormListaExecucao('Concluído', '0.5')
        if (salvou){
            alert('Projeto Salvo com sucesso')
            window.location = '/'
        }

        // $('select').selectize();
    })

    function atualizaValorExecucao(e) {
        $('#rngExec1').val(e.target.value)
    }

    function htmlFormLista(listId, name = '', value = '0.0') {
        return htmlLista = `
        <div style="background-color: #f4f4f4; margin: 10px; padding: 10px; border-radius: 6px;">
            <div class="form-row" id="list-${listId}">
                <div class="col-md-8">
                    <div class="position-relative form-group">
                        <label for="titulosListas" class="">Título</label>
                        <input name="titulosListas" placeholder="Título"
                            class="form-control" value="${name}">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="position-relative form-group">
                        <label for="execucaoListas" class="">Percent. Execução</label>
                        <input name="execucaoListas" placeholder="0.0" type="number"
                            step="0.1" class="form-control" value="${value}">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="position-relative form-group">
                        <label for="btnRemLista" class="">Rem.</label>
                        <button id="btnRemLista-${listId}" type="button" class="btn-shadow mr-3 btn btn-danger form-control">
                            <span class="btn-icon-wrapper pr-2 ">
                                <i class="fa fa-trash-alt "></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        `
    }

    function addFormListaExecucao(name = '', value = '0.0') {

        if (listas.length >= limiteListas) {
            alert(`A quantidade limite de listas é ${limiteListas}`)
            return false
        }

        lastListId += 1
        const nextId = lastListId

        $('#listasExecucao').append(htmlFormLista(nextId, name, value))
        $(`#btnRemLista-${nextId}`).click(() => remList(`${nextId}`))

        listas.push(nextId)

    }

    function htmlFormMembro(idMembro, nome) {
        return htmlMembro = `
        <div style="background-color: #f4f4f4; margin: 10px; padding: 10px; border-radius: 6px;">
            <div class="form-row" name='membro' id="membro-${idMembro}" >
                <input type="hidden" name="idsParticipantes" value="${idMembro}" />
                <div class="col-md-5">
                    <div class="position-relative form-group">
                        <label for="txtNomeMembro" class="">Nome</label>
                        <input name="txtNomeMembro" class="form-control" value="${nome}" readonly>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="position-relative form-group">
                        <label for="rngExecMembros" class="">Percentual Esperado</label>
                        <input id="rngExec-${idMembro}" name="rngExecMembros" type="range" min="5" max="100" list="tickmarks"
                            step="5" class="form-control" value="80">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="position-relative form-group">
                        <label for="esperadoParticipantes" class="">%</label>
                        <input type="text" readonly id="txtExec-${idMembro}" name="esperadoParticipantes" 
                        style="font-weight:bold;" value="80" class="form-control"></input>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="position-relative form-group">
                        <label for="btnRemMembro-${idMembro}" class="">Rem.</label>
                        <button name="btnRemMembro-${idMembro}" type="button" class="btn-shadow mr-3 btn btn-danger form-control">
                            <span class="btn-icon-wrapper pr-2 ">
                                <i class="fa fa-trash-alt "></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        `
    }

    function addFormMembro() {
        
        const idMembro = $('#selMembros').val()
        const nome = $("#selMembros option:selected").html();

        if (membros.find(id => id == idMembro)) {
            alert('Membro já inserido');
            return false
        }

        $('#listaMembros').append(htmlFormMembro(idMembro, nome))
        $(`#rngExec-${idMembro}`);
        $(`#rngExec-${idMembro}`).on('input', function (e) {
            $(`#txtExec-${idMembro}`).val(e.target.value);
        });

        $(`#btnRemMembro-${idMembro}`).click(() => remMembro(idMembro))

        membros.push(idMembro)

        return true

    }

    function remMembro(idMembro) {

        const index = membros.findIndex(m => m == idMembro)

        if (index >= 0) {
            membros.splice(index, 1);

            const htmlMembro = $(`#membro-${idMembro}`)

            if (htmlMembro.length > 0) {
                htmlMembro.remove()
            }
        }
    }

    function remList(listId) {

        const index = listas.findIndex(l => l == listId)

        if (index >= 0) {
            listas.splice(index, 1);

            const htmlList = $(`#list-${listId}`)

            if (htmlList.length > 0) {
                htmlList.remove()
            }
        }
    }

</script>

{{>shared/project_layout/footer}}